/* Projeto: Diário de Receitas
  Autor: Gustavo Silva de Oliveira
  Ano: 2025
  Descrição: Código desenvolvido exclusivamente para fins pessoais e estudo. */

body {
  font-family: "Comfortaa", sans-serif;
  background-color: #ddeedb;
}
.container {
  display: flex;
  align-items: flex-start;
}
/* #region Sub-Div do Título da Lista */
.list {
  padding: 15px;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 18px;
  background-color: #bfd8b8;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}
/* #endregion */

/* #region Ajusta lista */
.scroll {
  height: 550px;
  width: 460px;
  overflow-y: auto;
  border: 1px solid #aaaaaa;
  border-radius: 18px;
  padding: 5px;
  text-align: left;
  line-height: 35px;
  font-size: 22px;
  background-color: #f2c6d3;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

/* Faz as descrições entenderem quebra de linha. */
p {
  white-space: pre-wrap;
}
/* Ajusta setinha */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 6px 0;
}

ul li::before {
  margin-right: 5px;
  content: "➤ "; /* pode trocar por →, ►, ➜, ➣ */
  color: #444; /* opcional */
  font-weight: bold;
}
/* #endregion */

/* #region Ajusta área de texto*/
.description {
  background-color: #bfd8b8;
  border: 1px solid #c8c8c8;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}
.description img {
  width: 300px;
  border-radius: 14px;
  float: right;
  margin: 0 0 20px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.description-section {
  max-width: 700px;
  line-height: 1.6;
  background: #cfe8cc9a;
  padding: 20px;
  border-radius: 12px;
  border-left: 6px solid #f2c6d3;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}
/* #endregion */

/* #region Ajusta área de notas. */
.notas-container {
  background: #d6e6d1;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #c8c8c8;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.notas-container h2 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

#bloco-notas {
  width: 550px;
  height: 150px;
  border: none;
  resize: both;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  background: #f3f7f2;
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1);
}
/* #endregion */

/* #region Botões */

/* Ajusta botão Envia */
#enviar {
  align-items: center;
  padding: 12px 12px;
  font-size: 20px;
  margin: 20px;
  border-radius: 8px;
  border: none;
  background: rgba(85, 239, 85, 0.757);
  cursor: pointer;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

#enviar:hover {
  background: rgb(85, 239, 85);
  transform: scale(1.06);
}

/* Ajusta botão Edita */
#editar {
  align-items: center;
  padding: 12px 12px;
  font-size: 20px;
  margin: 20px;
  margin-left: 30px;
  border-radius: 8px;
  border: none;
  background: rgba(85, 136, 239, 0.757);
  cursor: pointer;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

#editar:hover {
  background: rgb(85, 136, 239);
  transform: scale(1.06);
}

/* Ajusta botão Remove */
#remover {
  align-items: center;
  padding: 12px 12px;
  font-size: 20px;
  margin: 20px;
  margin-left: 30px;
  border-radius: 8px;
  border: none;
  background: rgba(239, 85, 85, 0.757);
  cursor: pointer;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

#remover:hover {
  background: rgb(239, 85, 85);
  transform: scale(1.06);
}
/* #endregion */

/* #region Input File */
.custom-file-input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 256px;
  background: #fff;
}

.custom-file-input::-webkit-file-upload-button {
  background: #6c63ff;
  color: #fff;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.file-input:hover::-webkit-file-upload-button {
  background: #574fe0;
}

.file-label {
  display: block;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}
/* #endregion */
